
@font-face {
  font-family: 'Pixel Emulator';
  src: url("Pixel\ Emulator.otf") format('opentype');
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(-45deg, #244566, #5a9ecfe3);
  font-family: 'Pixel Emulator', sans-serif;
}

:root {
  --cor1: #82BAE2;
  --cor2: #5A9FCF;
  --cor3: #4D8CB9;
  --cor4: #E28A82;
  --cor5: #F2F2F2;
  --cor6: #2F4F70;
}

.title-container {
  text-align: center;
  padding: 20px;
}

.menu-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  color: #fff;
  text-shadow: -1px -1px 0 #000;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.opcao:hover {
  transform: scale(1.2);
  background-color: #4D8CB9;
  box-shadow: 1px 1px 15px #81bafc;
}

.opcao {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  text-shadow: -1px -1px 0 #000;
  background-color: #59A2F3;
  width: 300px;
  border: solid 2px #F2F2F2;
  border-radius: 6px 0px;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  color: var(--cor5); /* Ajuste a cor conforme necessário */
  font-size: 20px;
  text-align: center;
}

.emoji {
  font-family: 'Game';
  position: absolute;
  left: 10px; /* Ajuste conforme necessário */
  font-size: 24px; /* Aumenta o tamanho do emoji */
}

#joga {
  position: absolute;
  font-size: 27px;
  top: 6px;
}

@font-face {
  font-family: 'Game';
  src: url(MMRock9.otf);
}
